@media only screen and (max-width: 940px) {
    .columns {
        flex-wrap: wrap;
    }

    .column {
        width: 48% !important;
    }
}

@media only screen and (max-width: 599px) {
    .columns {
        flex-direction: column;
    }
    
    .column {
        width: 98% !important;
    }
}