@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");
@import "linearicons.css";

/* General Styles */
:root {
    --primaryBlack: #444;
    --primaryWhite: #ffffff;
}

* {
    outline: none;
    overflow-x: hidden;
    color: #111;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box !important;
}

a {
    text-decoration: none;
    color: var(--primaryBlack);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear::after {
    content: " ";
    display: block;
    clear: both;
}

/* Form Style */
.input-holder {
    margin: 10px 0;
}

label, input {
    display: block;
    margin: 2px 0;
}

.dual-input input:last-child {
    margin-top: 5px;
}

input, textarea {
    border: 1px solid var(--primaryBlack);
    padding: 6px 10px;
    width: 100%;
}

.input-rounded {
    border-radius: 40px;
}

/* Buttons */
.btn {
    padding: 6px 15px;
    cursor: pointer;
}

.btn-half {
    width: 50%;
}

.btn-full {
    width: 100%;
}

.btn-primary {
    border: 1px solid var(--primaryBlack);
    color: var(--primaryWhite);
    background: var(--primaryBlack);
}

.btn-secondary {
    border: 1px solid var(--primaryBlack);
    color: var(--primaryBlack);
    background: var(--primaryWhite);
}

.btn-disabled {
    cursor: not-allowed;
}

.btn-small {
    padding: 3px 10px;
    font-size: x-small;
}

.btn-medium {
    padding: 4px 10px;
}

.btn-rounded {
    border-radius: 40px;
}

/* Alerts */
.alert {
    position: fixed;
    background: rgba(70, 70, 70, 0.199);
    color: var(--primaryWhite);
    top: 15px;
    right: 15px;
    padding: 10px 15px;
    border-radius: 4px;
    max-width: 300px;
    cursor: pointer;
    display: none;
}

/* .alert span {
    color: var(--primaryWhite);
} */

ul.menu {
    padding: 0;
    margin: 0;
}

/* Modal Styles */
.modal {
    background: rgba(0, 0, 0, 0.452);
    z-index: 8;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    transition: 1s ease-in-out;
}

.modal:target {
    display: block;
}

.modal-area {
    background: var(--primaryWhite);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    overflow-y: auto;
}

.modal-large {
    width: 700px;
}

.modal-medium {
    width: 500px;
}

.modal-small {
    width: 300px;
}

.modal-header {
    padding: 10px 10px 0 10px;
}

.modal-title h3 {
    padding: 0;
    margin: 0;
}

.modal-close {
    padding: 2px 5px;
    font-size: 1.2em;
    /* text-align: right; */
}

.modal-content {
    padding: 10px;
    transition: 1s ease-in-out;
    
}

.modal-footer {
    padding: 15px;
}

/* Columns */
.columns {
    display: flex;
    flex-direction: row;
}

.column {
    display: inline-block;
    margin: 10px 5px;
}

.column-header h3 {
    padding: 0;
    margin: 0;
}

.column-header  {
    display: block;
}

.column.half {
    width: 50%;
}

.column.one-third {
    width: 33.33%;
}

.column.quarter {
    width: 25%;
}

.column.full {
    width: 100%;
}

/* Table Styles */
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table, th, tfoot, thead, tbody {
    font-weight: normal;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table-stripped tr:nth-child(even) {
    background: #f1f1f1;
}

.table-hover tbody tr:hover {
    background: #eee;
}

tbody tr td {
    border-top: 1px solid #ddd;
    padding: 8px 10px;
}

tbody tr:first-child td {
    border-top: none;
}

tfoot td {
    text-align: justify;
    border-top: 2px solid #ddd;
    padding: 10px;
    font-weight: 500;
    white-space: nowrap;
}

thead th {
    white-space: nowrap;
    text-align: justify;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    font-weight: 500;
}