@media only screen and (min-width: 941px) and (max-width: 1100px) {
    #how-it-works {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 940px) {
    #contact {
        padding-left: 30px;
        padding-right: 30px;
    }

    #about {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    #how-it-works {
        padding-left: 0;
        padding-right: 0;
    }
    
    #contact {
        padding-left: 0px;
        padding-right: 0px;
    }

    #about {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media only screen and (max-width: 600px) {
    #hero .actions a {
        margin: 0 5px !important;
    }

    .menu {
        position: fixed;
        margin: 0;
        background: #fff;
        z-index: 7;
        top: 65px; 
        right: 40px; 
        padding: 0 10px;
        display: none;
        min-width: 150px;
    }

    .menu.active {
        display: block;
    }

    .menu ul li {
        display: block !important;
        padding: 10px 5px;
    }

    .menu ul li:first-child {
        padding-top: 0;
    }

    #harmburger {
        display: inline-block;
    }

    #contact {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 550px) {
    .hero-contents h1 {
        line-height: 1em;
        margin-bottom: 5px;
        font-size: 2.2em;
    }

    #about {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media only screen and (max-width: 400px) {
    #how-it-works {
        padding-left: 30px;
        padding-right: 30px;
    }

    #contact {
        padding-left: 10px;
        padding-right: 10px;
    }

    #how-it-works .section-contents {
        padding: 0 5px;
    }

    #how-it-works .section-contents .column {
        padding-left: 5px;
        padding-right: 5px;
    }

    #contact {
        padding-left: 10px;
        padding-right: 10px;
    }

    #about {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media only screen and (max-width: 320px) {
    header {
        padding-right: 20px;
        padding-left: 20px;
    }

    #contact {
        padding-left: 0px;
        padding-right: 0px;
    }

    #about {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}