@media only screen and (max-width: 1200px) {
    #main .offers {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 800px) {
    header #menu {
        position: fixed;
        height: 100%;
        background: var(--primaryWhite);
        top: 0;
        left: 0;
        z-index: 7;
        width: 200px;
        transform: translateX(-210px);
        transition: .5s ease-in-out;
        border: 1px solid #eee;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.103);
    }

    header #menu.active {
        transform: translateX(-5px);
    }

    header #burger {
        display: inline-block !important;
    }

    header #menu .trigger-menu {
        display: block;
    }

    header #menu .menu {
        padding: 15px 0;
    }

    header #menu .menu li {
        display: block;
        border: none !important;
        height: auto;
        padding: 10px 15px;
    }

    #main .offers {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 705px) {
    .column.stat-info {
        width: 48% !important;
    }
}

@media only screen and (max-width: 500px) {
    #main .offers {
        grid-template-columns: auto;
        grid-gap: 20px;
    }
}
 
@media only screen and (max-width: 520px) {
    header #logo h2 span:last-child {
        display: none !important;
    }

    header #logo h2 span:first-child {
        display: block !important;
        border: 1px solid var(--primaryBlack);
        width: 35px;
        height: 35px;
        position: relative;
        text-align: center;
        position: relative;
        border-radius: 50%;
    }

    header #logo h2 span:first-child i {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 501px) and (max-width: 720px) {
    .modal-large {
        width: 500px;
    }

    .modal-medium {
        width: 400%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
    .modal-large, .modal-medium {
        width: 380px;
    }

    .search-container {
        width: 200px;
    }
}

@media only screen and (max-width: 400px) {
    .search-container {
        width: 100%;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 399px) {
    .modal-large, .modal-medium {
        width: 315px;
    }
}

@media only screen and (max-width: 320px) {
    .modal-large, .modal-medium,.modal-small {
        width: 95% !important;
    }
}

@media only screen and (max-width: 360px) {
    header {
        padding-right: 10px;
        padding-left: 10px;
    }

    #notifications {
        width: 95vw;
        right: 5px;
    }
}