@import "general.css";

html, body {
    padding: 0;
    margin: 0;
}

/* Header Styles */
header {
    background: var(--primaryWhite);
    height: 55px;
    /* border: 1px solid #000; */
    overflow: hidden;
    padding: 0 40px;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.103);
    position: fixed;
    z-index: 5;
    width: 100%;
}

header div {
    height: 100%;
    /* border: 1px solid #000; */
    display: inline-block !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header div.right > div {
    margin: 0 5px;
}

header #logo {
    padding: 10px 0;
}

header #logo h2 span:first-child {
    display: block !important;
    border: 1px solid var(--primaryBlack);
    width: 35px;
    height: 35px;
    position: relative;
    text-align: center;
    position: relative;
    border-radius: 50%;
}

header #logo h2 span:first-child i {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header #logo h2 {
    padding: 0;
    margin: 0;
    font-size: 22px;
}

header #menu .menu {
    height: 100%;
    overflow: hidden;
}

header #menu .menu li {
    display: inline-block;
    height: 100%;
    padding: 14px 15px;
    overflow: hidden;
}

header #menu .menu li.active {
    border-top: 3px solid var(--primaryBlack);
}

header #burger, header #logout {
    padding: 11px 5px;
}

header #menu .trigger-menu {
    position: absolute;
    top: 2px;
    right: 5px;
    display: none;
}

#menu ul li a {
    color: var(--primaryBlack) !important;
}

header #burger {
    display: none !important;
}

header #offer-ride {
    padding: 13px 0;
}

header #show-notification {
    padding: 13px 0;
    position: relative;
}

header #show-notification .on {
    position: absolute;
    /* background: var(--primaryBlack);
    border: var(--primaryBlack); */
    background: rgb(206, 44, 44);
    border: rgb(206, 44, 44);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 15px;
    right: 3px;
}

header .icon {
    font-size: 1.5em;
}

/* Footer Styles */
footer {
    padding: 5px 10px;
    text-align: center;
    background: #fff;
    border-top: 1px solid #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* All rides Section Styles */
#main {
    padding: 10px 20px;
    margin: 55px 0 110px;
}

#main .offers {
    width: 100%;
    padding: 5px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

#main .offers .offer a {
    color: var(--primaryBlack);
}

#main .offers .offer {
    border: 1px solid #eee;
    box-shadow: 0px 3px 6px 0px rgba(170, 17, 17, 0.103);
    position: relative;
    padding: 10px;
}

#main .offers .offer .price {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 500;
}

#main .offers .offer .date_time {
    padding: 0;
    margin: 0;
    font-size: small;
}

#main .offers .offer .action {
    margin-top: 8px;
}

.item-label {
    display: block;
}

.item-content {
    display: block;
    padding: 0 5px;
}

/* Section Header */
.section-header {
    padding: 20px;
}

.section-header h3 {
    padding: 0;
    margin: 0;
}

/* Search Ride Offer Styles */
.search-container {
    position: relative;
    padding: 0;
    margin: 0;
    width: 250px;
    overflow: hidden;
}

.search-container input {
    margin: 0;
    width: 100%;
}

.search-container button {
    position: absolute;
    top: 3px;
    right: 1px;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Profile Styles */
.stats-info {
    padding: 5px 0;
}

.stats-info .stat-info {
    border: 1px solid #eee;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.103);
    padding: 10px 15px;
    position: relative;
}

.stats-info .stat-info ul {
    padding: 0;
    margin: 0;
}

.stats-info .stat-info .stat h3, .stats-info .stat-info .stat p {
    padding: 0;
    margin: 0;
}

.stats-info .stat-info .count, .stats-info .stat-info .stat {
    margin: 0 2px;
}

.stats-info .stat-info .count span {
    font-weight: 500;
    font-size: 2.0em;
}

.stats-info .stat-info .stats-icon {
    position: absolute;
    font-size: 2.1em;
    border: 1px solid #000;
    width: 52px;
    border-radius: 50%;
    height: 52px;
    top: 15px;
    right: 15px;
    z-index: -3;
}

.stats-info .stat-info .stats-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rides {
    position: relative;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.103) !important;
}

.rides table thead tr th:last-child {
    min-width: 100px;
    width: 100px;
}

/* Updates Container */
.updates-container > div {
    border: 1px solid #eee;
    padding: 10px 15px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.103);
    position: relative;
}

/* Notification Styles */
.column-zone {
    padding: 10px 0;
}

.notizone table tbody tr td:last-child {
    min-width: 90px;
    vertical-align: text-top;
}

.requestzone table tbody tr td:last-child {
    min-width: 160px;
}

/* Profile Styles */
.user-info {
    border: 1px solid #eee;
    margin: 20px 0;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.103);
    padding: 20px 0;
    position: relative;
}

.user-info .trigger-settings {
    position: absolute;
    top: 10px;
}

.user-info .trigger-settings.right {
    right: 10px;
}

.user-info .trigger-settings.left {
    left: 10px;
}

.user-info .avatar-container {
   padding: 5px;
   text-align: center; 
}

.user-info .avatar-container div {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee;
}

.change-photo-container {
    background: rgba(0, 0, 0, 0.1);
    color: var(--primaryBlack);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: .5s ease-in-out;
}

.user-info .avatar-container div:hover > .change-photo-container {
    display: block;
}

.upload-photo {
    background: transparent;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-info .avatar-container div .avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.info-container {
    text-align: center;
}

.info-container h3 {
    padding: 0;
    margin: 0;
}

.info-container ul {
    padding: 0;
    margin: 0;
}

/* Notification Styles */
#notifications {
    background: var(--primaryWhite);
    border: 1px solid rgb(245, 245, 245);
    position: fixed;
    top: 55px;
    right: 10px;
    width: 350px;
    height: auto;
    z-index: 6;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.103);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    display: none !important;
    max-height: 85vh;
    overflow-y: auto;
}

#notifications::-webkit-scrollbar {
    width: 6px;
    background: rgb(252, 250, 250);
}

#notifications::-webkit-scrollbar-thumb {
    background: rgb(230, 226, 226);
}

#notifications.active {
    display: block !important;
}

.notification-header {
    border-bottom: 1px solid rgb(248, 248, 248);
    position: relative;
    padding: 8px;
    width: 100%;
    text-align: center;
}

.notification-header h4 {
    padding: 3px 0;
    margin: 0;
}

.notification-count {
    border: 1px solid #000;
    font-size: small;
    margin: 3px 0;
    padding: 0 5px;
    display: inline-block;
}

.notification-list {
    padding: 0;
    margin: 0;
}

.notification-list .notification-item {
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
}

.notification-list .notification-item:nth-child(even) {
    background: rgb(252, 250, 250);
}

.notification-list .notification-item .notification-details {
    font-size: 95%;
}

.notification-list .notification-item .notification-actions {
    margin-top: 3px;
}